<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Centro Cultural Armonía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-carousel">
    <!-- Imagen de exposición de arte -->
    <div class="carousel-item">
      <img ngSrc="../../assets/img/arte.jpg" alt="Exposición de arte accesible" height="1280" width="1920">
      <div class="carousel-text">
        <h2>Arte Sin Barreras</h2>
        <p>Explora exposiciones de arte accesibles para todos.</p>
      </div>
    </div>
  </div>

  <!-- Tarjetas de noticias o eventos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Próximos Eventos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descubre las maravillas de la cultura y el arte en nuestras próximas actividades. ¡No te pierdas esta oportunidad única de explorar nuevas experiencias culturales!</p>
    </ion-card-content>
  </ion-card>

  <!-- Sección de testimonios -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Testimonios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"Participar en los talleres de Armonía ha sido una experiencia transformadora para mi familia. Hemos aprendido, crecido y disfrutado juntos." - Familia Rodríguez</p>
    </ion-card-content>
  </ion-card>

  <!-- Información adicional -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colabora con Nosotros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Únete a nuestra misión de hacer del arte y la cultura algo accesible para todos. Tu apoyo puede marcar la diferencia. Contáctanos para saber cómo puedes contribuir.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
