<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Actividades y Programas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Taller de arte inclusivo -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <img src="assets/img/talleres.jpg" alt="Taller de arte inclusivo">
          <ion-card-header>
            <ion-card-title>Talleres Inclusivos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Participa en nuestros talleres de arte, música y teatro diseñados para todas las edades y capacidades. Desde la pintura hasta la danza, hay una experiencia de aprendizaje para todos.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Día familiar inclusivo -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <img src="assets/img/familia.jpg" alt="Día familiar inclusivo">
          <ion-card-header>
            <ion-card-title>Días Familiares</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Disfruta de un día lleno de actividades culturales pensadas para que toda la familia participe y aprenda junta. Nuestros eventos familiares son una gran oportunidad para la diversión y el aprendizaje en un ambiente inclusivo.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Otras actividades -->
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <img src="assets/img/conciertos.png" alt="Conciertos inclusivos">
          <ion-card-header>
            <ion-card-title>Conciertos Inclusivos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Experimenta la magia de la música en nuestros conciertos diseñados para ser disfrutados por todos, con accesibilidad total y una atmósfera acogedora.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card>
          <img src="assets/img/exhibicion.jpeg" alt="Exposiciones de arte">
          <ion-card-header>
            <ion-card-title>Exposiciones de Arte</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Descubre las obras de artistas locales e internacionales en nuestras exposiciones de arte. Cada muestra es una ventana a diferentes culturas y perspectivas.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
